<h1>test</h1>
<form action="/answer" method="get">
  <label for="question">Type your question </label>
  <input type="text" name="question" id="question">

  <input type="submit" value="ask!">
</form>
